@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-5">
        <h2>Book Library</h2>
        <ul>
            <li> <a href="ComuterSciences">Computer Science</li>
            <li> <a href="Novels">Novels</a></li>
            <li> <a href="Sports">Sports</a></li>
        </ul>

        <ul>
            <li> <a href="Home/SearchApi">Search Api</li>
            
        </ul>
    </div>


</div>


